{% import 'macros/autoform.html' as autoform %}

{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

  {{ form.errors(error_summary) }}

  <form method='post' action="" id="admin-config-form" enctype="multipart/form-data">
    {% block admin_form %}

      {{ form.input('ckan.site_title', id='field-ckan-site-title', label=_('Site Title'), value=data['ckan.site_title'], error=error, classes=['control-medium']) }}

      {{ form.select('ckan.main_css', id='field-ckan-main-css', label=_('Style'), options=styles, selected=data['ckan.main_css'], error=error) }}

      {{ form.input('ckan.site_description', id='field-ckan-site-description', label=_('Site Tag Line'), value=data['ckan.site_description'], error=error, classes=['control-medium']) }}

      {% set field_url = 'ckan.site_logo' %}
      {% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
      {% set is_url = data[field_url] and data[field_url].startswith('http') %}
      {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label = _('Site logo'), url_label=_('Site logo'),  field_url=field_url, field_upload='logo_upload', field_clear='clear_logo_upload' )}}

      {{ form.markdown('ckan.site_about', id='field-ckan-site-about', label=_('About'), value=data['ckan.site_about'], error=error, placeholder=_('About page text')) }}

      {{ form.markdown('ckan.site_intro_text', id='field-ckan-site-intro-text', label=_('Intro Text'), value=data['ckan.site_intro_text'], error=error, placeholder=_('Text on home page')) }}

      {{ form.textarea('ckan.site_custom_css', id='field-ckan-site-custom-css', label=_('Custom CSS'), value=data['ckan.site_custom_css'], error=error, placeholder=_('Customisable css inserted into the page header')) }}

      {{ form.select('ckan.homepage_style', id='field-homepage-style', label=_('Página Inicial'), options=homepages, selected=data['ckan.homepage_style'], error=error) }}

      {% endblock %}
      <div class="form-actions">
        <a href="{% url_for 'admin.reset_config' %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to reset the config?') }}">{{ _('Reset') }}</a>
        <button type="submit" class="btn btn-primary" name="save">{{ _('Update Config') }}</button>
      </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('CKAN config options') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
        {% set about_url = h.url_for(controller='home', action='about') %}
        {% set home_url = h.url_for(controller='home', action='index') %}
        {% set docs_url = "http://docs.ckan.org/en/{0}/theming".format(g.ckan_doc_version) %}
        {% trans %}
          <p><strong>Título do Site:</strong> Este é o título dessa instância do CKAN. Ele aparece em vários lugares em todo o CKAN.</p>
          <p><strong>Estilo:</strong> Escolha a partir de uma lista de variações simples do esquema principal de cores para conseguir um tema personalizado funcionando muito rapidamente.</p>
          <p><strong>Logo do site:</strong> Esta é a logomarca que aparece no cabeçalho de todas as páginas dessa instância do CKAN.</p>
          <p><strong>Sobre:</strong> Esse texto aparecerá na 
            <a href="{{ about_url }}">página sobre</a> dessa instância do CKAN.</p>
          <p><strong>Texto Introdutório:</strong> Esse texto aparecerá na
            <a href="{{ home_url }}">página inicial</a>  dessa instância do CKAN como uma mensagem de boas vindas aos visitantes.</p>
          <p><strong>CSS Personalizado:</strong> Esse é o bloco de CSS que aparece na tag 
            <code>&lt;head&gt;</code> de cada página. Se você desejar personalizar os modelos mais completamente, recomendamos 
            <a href="{{ docs_url }}" target="_blank">ler a documentação</a>.</p>
          <p><strong>Página inicial:</strong> Isso é para escolher uma disposição pré-definida para os módulos que aparecem na sua página inicial.</p>
      {% endtrans %}
    {% endblock %}
    </div>
  </div>
{% endblock %}
