<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="col-lg-12">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>     
      <div class="col-lg-12">
          {% block stats %}
            {% snippet 'home/snippets/stats.html' %}
          {% endblock %}
      </div> 
      <div class="col-lg-12">
          {% block featured_group %}
            {% snippet 'home/snippets/featured_group.html' %}
          {% endblock %}
        </div>            
    </div>
  </div>
</div>

